<a href="https://colab.research.google.com/github/fiofs/Analisis-de-Datos/blob/main/LaboratorioPandas_TiffannyFernandez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejemplo 1

In [ ]:
import pandas as pd

data = {'Country': ['Costa Rica', 'India', 'Brazil'],
      'Capital': ['San Jose', 'New Delhi', 'Brasilia'],
      'Capital': [4500000, 1303171035, 207847528]}

df = pd.DataFrame(data, columns = ['Country', 'Capital', 'Population'])
print(df)

      Country     Capital Population
0  Costa Rica     4500000        NaN
1       India  1303171035        NaN
2      Brazil   207847528        NaN

Ejemplo 2

In [ ]:
print("Promedio de los elementos del vector")
Suma = 0
Media = 0
Temp = []

print("Ingrese cantidad de Temperaturas")
N = int(input())

for i in range (N):
  temperatura = float(input("Ingrese la temperatura: "))
  Temp.append(temperatura)
  Suma = Suma + Temp[i]

Media = Suma / N
print(Media)

Promedio de los elementos del vector
Ingrese cantidad de Temperaturas
4
Ingrese la temperatura15
Ingrese la temperatura23
Ingrese la temperatura45
Ingrese la temperatura9
23.0

Ejemplo 3

In [ ]:
import pandas as pd

mascota = pd.DataFrame(
    data = {
        'name': ['Minimo', 'Milo', 'Snoopy', 'Blanco', 'LittlePony'],
        'type': ['gato', 'perro', 'perro', 'perro', 'caballo']
    },
    index = [71, 42, 11, 98, 42]
)

visitas = pd.DataFrame(
    data = {
        'pet_id': [42, 31, 71, 42, 98, 42],
        'fecha': ['2019-03-15', '2019-03-15', '2019-04-05', '2019-04-06', '2019-04-12', '2019-05-31'],
        'costo': [2000, 5000, 1000, 5000, 6000, 10000]
    }
)

mascota.index.rename('pet_id', inplace = True)
visitas.index.rename('visit_id', inplace = True)
print(mascota.query('pet_id==71'))
print("Costo suma: ", visitas['costo'].sum())
print("Costo minimo: ",visitas['costo'].min())
print("Costo maximo: ",visitas['costo'].max())

print(visitas)

print(visitas.sort_values(by = 'costo', ascending = False))
tienda = pd.merge(mascota, visitas, how = 'cross')
print(tienda)

          name  type
pet_id
71      Minimo  gato
Costo suma:  29000
Costo minimo:  1000
Costo maximo:  10000
          pet_id       fecha  costo
visit_id
0             42  2019-03-15   2000
1             31  2019-03-15   5000
2             71  2019-04-05   1000
3             42  2019-04-06   5000
4             98  2019-04-12   6000
5             42  2019-05-31  10000
          pet_id       fecha  costo
visit_id
5             42  2019-05-31  10000
4             98  2019-04-12   6000
1             31  2019-03-15   5000
3             42  2019-04-06   5000
0             42  2019-03-15   2000
2             71  2019-04-05   1000
          name     type  pet_id       fecha  costo
0       Minimo     gato      42  2019-03-15   2000
1       Minimo     gato      31  2019-03-15   5000
2       Minimo     gato      71  2019-04-05   1000
3       Minimo     gato      42  2019-04-06   5000
4       Minimo     gato      98  2019-04-12   6000
5       Minimo     gato      42  2019-05-31  10000
6         Milo    perro      42  2019-03-15   2000
7         Milo    perro      31  2019-03-15   5000
8         Milo    perro      71  2019-04-05   1000
9         Milo    perro      42  2019-04-06   5000
10        Milo    perro      98  2019-04-12   6000
11        Milo    perro      42  2019-05-31  10000
12      Snoopy    perro      42  2019-03-15   2000
13      Snoopy    perro      31  2019-03-15   5000
14      Snoopy    perro      71  2019-04-05   1000
15      Snoopy    perro      42  2019-04-06   5000
16      Snoopy    perro      98  2019-04-12   6000
17      Snoopy    perro      42  2019-05-31  10000
18      Blanco    perro      42  2019-03-15   2000
19      Blanco    perro      31  2019-03-15   5000
20      Blanco    perro      71  2019-04-05   1000
21      Blanco    perro      42  2019-04-06   5000
22      Blanco    perro      98  2019-04-12   6000
23      Blanco    perro      42  2019-05-31  10000
24  LittlePony  caballo      42  2019-03-15   2000
25  LittlePony  caballo      31  2019-03-15   5000
26  LittlePony  caballo      71  2019-04-05   1000
27  LittlePony  caballo      42  2019-04-06   5000
28  LittlePony  caballo      98  2019-04-12   6000
29  LittlePony  caballo      42  2019-05-31  10000

In [ ]:
#Ejercicio 1
import pandas as pd

students = [('Ana', 23, 'San Jose', 'A'), 
            ('Esteban', 22, 'Heredia', 'B'), 
            ('Juan', 22, 'Cartago', 'A'), 
            ('Karla', 22, 'Limon', 'A'), 
            ('Ernesto',21,'Heredia','B')]

df = pd.DataFrame(students, columns = ['Nombre', 'Edad', 'Ciudad', 'Seccion'])


#Ejercicio 2
print(df)

#Ejercicio 3
def infoCol(col):
  print(df.loc[:,col])

columna = (input("Ingrese el valor a buscar: "))
infoCol(columna)

    Nombre  Edad    Ciudad Seccion
0      Ana    23  San Jose       A
1  Esteban    22   Heredia       B
2     Juan    22   Cartago       A
3    Karla    22     Limon       A
4  Ernesto    21   Heredia       B
Ingrese el valor a buscar: Edad
0    23
1    22
2    22
3    22
4    21
Name: Edad, dtype: int64

In [ ]:
#Ejercicio 4

def getIndexes(dfObj, value):
  listOfPos = []
  result = dfObj.isin([value])
  seriesObj = result.any()
  columnNames = list(seriesObj[seriesObj == True].index)

  for col in columnNames:
    rows = list(result[col][result[col] == True].index)

    for row in rows:
      listOfPos.append((row,col))

  return listOfPos

#Ejercicio 5
#print(getIndexes(dataframe, valor))

#Ejercicio 6
listOfPositions = getIndexes(df, 'A')
print('Index positions of 22 in DataFrame: ')
for i in range(len(listOfPositions)):
  print(listOfPositions[i])


#Ejercicio 7
listOfPositions = getIndexes(df, 21)
print('Index de Prueba: ')
for i in range(len(listOfPositions)):
  print(listOfPositions[i])

Index positions of 22 in DataFrame:
(0, 'Seccion')
(2, 'Seccion')
(3, 'Seccion')
Index positions of 22 in DataFrame:
(4, 'Edad')

In [ ]:
#Ejercicio 8
import pandas as pd

proyecto = [('Antigua and Barbuda', 2000, 44.0, 9.6), 
            ('Argentina', 2017, 39.0, 6.2), 
            ('Bahamas', 2007, 77.0, 8.6), 
            ('Canada', 2010, 11.0, 3.8), 
            ('Chile', 2012, 17.0, 5.3)]

dfProyecto = pd.DataFrame(proyecto, columns = ['País', 'Annio', 'Tasa Mortalidad Materna', 'Tasa Mortalidad Neonatal'])

print(getIndexes(dfProyecto, 'Chile'))

[(4, 'País')]

In [ ]:
#Equipo de Python
#Nicole Arias Lizano
#Tiffanny Fernandez Soto
#Alexa Rios Mora